@font-face {
  font-family: 'Arial';
  src: url('../fonts/ArialMT.eot');
  src: local('../fonts/Arial'), local('ArialMT'), url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'), url('../fonts/ArialMT.woff') format('woff'), url('../fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUIDisplay-Medium';
  src: url('../fonts/SFUIDisplay-Medium.eot');
  src: local('../fonts/SF UI Display Medium'), local('SFUIDisplay-Medium'), url('../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Medium.woff') format('woff'), url('../fonts/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url('../fonts/SFUIDisplay-Regular.eot');
  src: local('../fonts/SF UI Display Regular'), local('SFUIDisplay-Regular'), url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Regular.woff') format('woff'), url('../fonts/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('../fonts/SFUIDisplay-Semibold.eot');
  src: local('../fonts/SF UI Display Semibold'), local('SFUIDisplay-Semibold'), url('../fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Semibold.woff') format('woff'), url('../fonts/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SFUIDisplay-Bold';
  src: url('../fonts/SFUIDisplay-Bold.eot');
  src: local('../fonts/SF UI Display Bold'), local('SFUIDisplay-Bold'), url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Bold.woff') format('woff'), url('../fonts/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
footer,
header,
section {
  margin: 0;
  padding: 0;
}
p {
  font-size: 20px;
  font-family: 'SFUIDisplay-Regular';
  letter-spacing: 0;
  line-height: 26px;
}
h1 {
  font-family: 'SFUIDisplay-Regular';
  font-size: 44px;
  letter-spacing: 0.1px;
  line-height: 55px;
}
h2 {
  font-size: 30px;
  font-family: 'SFUIDisplay-Regular';
  line-height: 28px;
  letter-spacing: 0.7px;
}
h3 {
  font-size: 26px;
  font-family: 'SFUIDisplay-Regular';
  line-height: 30px;
  letter-spacing: 0.1px;
}
h4 {
  font-size: 22px;
  font-family: 'SFUIDisplay-Regular';
  letter-spacing: 0.1px;
  line-height: 30px;
}
span {
  font-size: 14px;
  letter-spacing: -0.3px;
}
body {
  color: #222222;
}
body {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e7f9ff));
  background: -webkit-linear-gradient(#ffffff, #e7f9ff);
  background: -o-linear-gradient(#ffffff, #e7f9ff);
  background: linear-gradient(#ffffff, #e7f9ff);
  background-repeat: repeat;
  background-attachment: fixed;
}
.content_slider {
  color: #003b6a;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  height: 473.5px;
  background-image: url(../img/1_header1.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 62%, 0% 100%);
  background-attachment: fixed;
}
.header-lang {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.header-lang__panel .dropdown {
  padding-bottom: 5px;
}
.header-lang__panel .dropdown a#drop1 {
  color: #fff;
}
.header-lang__panel .dropdown a#drop1:hover {
  text-decoration: none;
}
.header-lang__panel .dropdown img {
  margin-right: 8px;
}
.header-lang__panel .dropdown ul.dropdown-menu {
  background-color: transparent;
  left: 1px !important;
  border: none;
}
.header-lang__panel .dropdown ul.dropdown-menu li a {
  color: #fff;
}
.header-lang__panel .dropdown ul.dropdown-menu li img {
  cursor: pointer;
}
.header select {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border: none;
  font-family: 'SFUIDisplay-Medium';
}
.header select:active {
  color: #000;
}
.header select .hide {
  display: none;
}
.header select option {
  color: #000;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-left: 30px;
}
.content_slider {
  margin-top: -390px;
  padding-bottom: 25px;
  background-image: url(../img/bg_image1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -300px;
  background-position-x: 50px !important;
  position: relative;
  z-index: 1000;
}
@media screen and (min-width: 1500px) {
  .content_slider {
    background-attachment: inherit !important;
  }
}
.content_slider-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.content_slider-block__phone--images {
  position: absolute;
  top: 128px;
  left: 89px;
  width: 266px;
}
.content_slider-block__phone--images img {
  width: 700px;
  height: 471px;
}
.content_slider-block .slick-prev,
.content_slider-block .slick-next {
  display: none !important;
}
.content_slider-block .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: -110px;
}
.content_slider-block .slick-dots button {
  display: none;
}
.content_slider-block .slick-dots li {
  width: 14px;
  height: 14px;
  margin: 0;
  margin-right: 21px;
}
.content_slider-block .slick-dots li:last-child {
  margin-right: 0;
}
.content_slider-block__main {
  margin-bottom: 45px;
}
.content_slider-block__main--social {
  margin-bottom: 24px;
  cursor: pointer;
}
.content_slider-block__main--social:lang(ru) {
  margin-bottom: 15px;
}
.content_slider-block__main--social img {
  height: 50px;
  width: 170px;
  margin-right: 24px;
  margin-bottom: 10px;
}
.content_slider-block__main--logo {
  margin-bottom: 26px;
}
.content_slider-block__main--logo:lang(ru) {
  margin-bottom: 20px;
}
.content_slider-block__main--logo .logo-ball {
  margin-bottom: 16px;
}
}
.content_slider-block__main--logo .logo-ball {
  margin-bottom: 16px;
}
.content_slider-block__main--logo .logo-ball:lang(ru) {
  margin-bottom: 10px;
}
.content_slider-block__main--title h1 {
  font-family: 'SFUIDisplay-Regular';
}
.content_slider-block__main--title h1:lang(ru) {
  font-size: 40px;
  line-height: 50px;
  font-size: 43px;
  line-height: 43px;
}
.content_description {
  background-image: url(../img/bg_image2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 84% !important;
  background-position-y: 100px;
  padding-top: 50px;
  z-index: 100;
}
@media screen and (min-width: 1500px) {
  .content_description {
    background-attachment: inherit !important;
    background-position-x: 79% !important;
  }
}
.content_description__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  z-index: -1;
}
.content_description__text--item {
  margin-bottom: 30px;
}
.content_description__text--item h3 {
  margin-bottom: 15px;
  font-family: 'SFUIDisplay-Regular';
}
.content_description__social {
  margin-top: 55px;
}
.content_description__social img {
  margin-right: 20px;
  height: 50px;
  cursor: pointer;
}
.content_description__video {
  position: absolute;
  top: 128px;
  right: 62px;
  z-index: 200;
}
.content_description__video video {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -o-object-fit: fill;
  object-fit: fill;
}
@media screen and (min-width: 1300px) {
  .content_description__video {
    right: 0;
    left: 88px;
  }
  .content_description__video video {
    width: 268px;
  }
}
@media screen and (max-width: 1299px) and (min-width: 992px) {
  .content_description__video {
    right: 0;
    left: 88px;
  }
  .content_description__video video {
    width: 268px;
  }
}
@media screen and (max-width: 992px) and (min-width: 880px) {
  .content_description__video {
    right: 0;
    left: 89px;
  }
}
@media screen and (max-width: 900px) {
  .content_description__video {
    right: 0;
    left: 76px;
    top: 106px;
  }
  .content_description__video video {
    height: 388px;
    width: 221px;
  }
}
@media screen and (max-width: 890px) {
  .content_description__video {
    right: 0;
    left: 76px;
    top: 105px;
  }
  .content_description__video video {
    width: 219px;
    height: 386px;
  }
}
@media screen and (max-width: 880px) {
  .content_description__video {
    right: 0;
    left: 74px;
    top: 103px;
  }
  .content_description__video video {
    width: 218px;
    height: 383px;
  }
}
@media screen and (max-width: 870px) {
  .content_description__video {
    right: 0;
    left: 74px;
    top: 105px;
  }
  .content_description__video video {
    width: 214px;
    height: 385px;
  }
}
@media screen and (max-width: 850px) {
  .content_description__video {
    right: 0;
    left: 73px;
    top: 105px;
  }
  .content_description__video video {
    width: 208px;
    height: 385px;
  }
}
@media screen and (max-width: 840px) {
  .content_description__video {
    right: 0;
    left: 71px;
    top: 105px;
  }
  .content_description__video video {
    width: 207px;
    height: 385px;
  }
}
@media screen and (max-width: 830px) {
  .content_description__video {
    right: 0;
    left: 71px;
    top: 105px;
  }
  .content_description__video video {
    width: 203px;
    height: 385px;
  }
}
@media screen and (max-width: 820px) {
  .content_description__video {
    right: 0;
    left: 71px;
    top: 105px;
  }
  .content_description__video video {
    width: 200px;
    height: 385px;
  }
}
@media screen and (max-width: 900px) {
  .content_description__video {
    right: 0;
    left: 77px;
    top: 61px;
  }
  .content_description__video video {
    height: 482px;
    width: 221px;
  }
}
@media screen and (max-width: 801px) {
  .content_description__video {
    right: 0;
    left: 69px;
    top: 105px;
  }
  .content_description__video video {
    width: 196px;
    height: 385px;
  }
}
@media screen and (max-width: 800px) {
  .content_description__video {
    right: 0;
    left: 69px;
    top: 105px;
  }
  .content_description__video video {
    height: 385px;
    width: 195px;
  }
}
@media screen and (max-width: 790px) {
  .content_description__video {
    right: 0;
    left: 68px;
    top: 122px;
  }
  .content_description__video video {
    height: 450px;
    width: 193px;
  }
}
@media screen and (max-width: 780px) {
  .content_description__video {
    right: 0;
    left: 67px;
    top: 122px;
  }
  .content_description__video video {
    height: 450px;
    width: 190px;
  }
}
@media screen and (max-width: 768px) {
  .content_description__video {
    right: 0;
    left: 67px;
    top: 122px;
  }
  .content_description__video video {
    height: 450px;
    width: 187px;
  }
}
@media screen and (max-width: 768px) {
  .content_description__video {
    right: 0;
    left: 67px;
    top: 51px;
  }
  .content_description__video video {
    height: 494px;
    width: 186px;
  }
}
@media screen and (max-width: 766px) {
  .content_description__video {
    right: 0;
    left: 0;
    top: 127px;
  }
  .content_description__video video {
    height: 470px;
    width: 270px;
  }
}
@media screen and (max-width: 750px) {
  .content_description__video {
    right: 0;
    left: 0;
    top: 127px;
  }
  .content_description__video video {
    height: 470px;
    width: 270px;
  }
}
@media screen and (max-width: 720px) {
  .content_description__video {
    right: 0;
    left: 0;
    top: 127px;
  }
  .content_description__video video {
    height: 470px;
    width: 270px;
  }
}
@media screen and (max-width: 640px) {
  .content_description__video {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_description__video video {
    height: 470px;
    width: 270px;
  }
}
@media screen and (max-width: 600px) {
  .content_description__video {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_description__video video {
    height: 470px;
  }
}
@media screen and (max-width: 540px) {
  .content_description__video {
    top: 50.2%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_description__video video {
    height: 472px;
  }
}
@media screen and (max-width: 480px) {
  .content_description__video {
    top: 50.1%;
    left: 48%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_description__video video {
    height: 470px;
  }
}
@media screen and (max-width: 425px) {
  .content_description__video {
    top: 365px;
    right: -8px;
  }
  .content_description__video video {
    width: 265px;
    height: 473px;
  }
}
@media screen and (max-width: 375px) {
  .content_description__video {
    top: 307px;
    right: -22px;
  }
  .content_description__video video {
    width: 232px;
    height: 394px;
  }
}
@media screen and (max-width: 320px) {
  .content_description__video {
    top: 258px;
    right: -10px;
  }
  .content_description__video video {
    width: 189px;
    height: 330px;
  }
}
.content_description__phone {
  margin-bottom: 126px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}
.content_description__phone img {
  z-index: -2;
}
.content_description__phone--button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  margin-left: 15px;
  cursor: pointer;
}
.content_description__phone--button-circle {
  width: 114px;
  height: 114px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #fff;
  opacity: 0.61;
}
.content_description__phone--button-triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #fff;
  opacity: 0.61;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 5px;
}
.content_description__phone--button-stop {
  position: absolute;
  top: 30%;
  left: 30%;
  display: none;
}
.content_description__phone--button-stop:before {
  width: 5px;
  height: 25px;
  background: #fff;
  position: absolute;
  opacity: 0.61;
  content: "";
  top: 10px;
  left: 15px;
}
.content_description__phone--button-stop:after {
  width: 5px;
  height: 25px;
  background: #fff;
  position: absolute;
  opacity: 0.61;
  content: "";
  top: 10px;
  left: 25px;
}
.content_description__phone--button .active {
  display: block;
}
.content_description__phone--button .hide {
  display: none;
}
.content_gallery {
  margin-bottom: 30px;
}
.content_gallery .mobile-image {
  display: none;
}
.content_gallery__title {
  margin-bottom: 40px;
  color: #063f4e;
  font-family: 'SFUIDisplay-Regular';
}
.content_gallery__images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content_gallery__images--item {
  margin-bottom: 20px;
  width: 33%;
}
.content_gallery__images .content_gallery__images--gif {
  display: none;
  max-width: 100%;
  -webkit-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}
.content_gallery__images .content_gallery__images--gif {
  -webkit-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}
.content_about {
  margin-bottom: 30px;
}
.content_about h3 {
  font-family: 'SFUIDisplay-Regular';
}
.content_about ol {
  padding-left: 17px;
  padding-top: 18px;
  margin-bottom: 20px;
}
.content_about ol li {
  font-size: 20px;
  line-height: 26px;
  font-family: 'SFUIDisplay-Regular';
}
.content_example {
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-image: url(../img/2_banner.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.content_example__title {
  padding-top: 29px;
  margin-bottom: 45px;
}
.content_example__images {
  padding: auto 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content_example__images img {
  width: 140px;
  height: 140px;
  margin-right: 30px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1300px) {
  .content_example__images img:last-child {
    margin-left: 0;
  }
}
.footer {
  height: 110px;
  font-family: 'SFUIDisplay-Regular';
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 0 100%;
}
.footer__copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  padding-top: 20px;
}
.footer__copy p {
  font-size: 16px;
  margin-right: 20px;
}
.footer__copy p:last-child {
  margin-right: 0;
  font-size: 18px;
}
.footer__copy--mail {
  color: #1284f5;
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (min-width: 1500px) {
  .footer {
    background: url(../img/footer_bg.png) left top repeat, url(../img/footer.png) center top no-repeat, url(../img/footer_bg.png) right top repeat;
    -webkit-background-size: contain,contain,contain contain,contain,contain;
    background-size: contain,contain,contain ;
  }
}
@media screen and (max-width: 1200px) {
  .content_gallery__images--item {
    width: 33%;
  }
}
@media screen and (max-width: 992px) {
  .content_gallery__images--item {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .content_gallery__images--item {
    width: 45%;
    margin-right: 20px;
  }
  .content_gallery__images--item img {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 75%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 75%);
  }
  .content_slider {
    margin-top: -450px;
  }
}
@media screen and (max-width: 1030px) {
  .content_gallery__images {
    text-align: center;
  }
}
@media screen and (max-width: 992px) and (min-width: 900px) {
  .content_description__phone {
    margin-bottom: 35px;
    margin: -50px auto;
  }
  .content_description__phone--images {
    position: absolute;
    top: 17.5%;
    left: 21%;
    width: 58%;
  }
  .content_description__phone--images img {
    height: auto;
  }
  .content_description__phone--button {
    top: 350px;
    left: 210px;
    left: 230px;
  }
}
@media screen and (max-width: 900px) {
  .content_slider-block {
    display: block;
  }
  .content_slider-block__phone {
    margin: auto;
  }
  .content_slider-block__main {
    margin: auto;
  }
  .content_slider-block__main--logo {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .content_slider-block__main--logo img {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .content_slider-block__main--social {
    text-align: center;
  }
  .content_description__text {
    margin: 0 auto;
  }
  .content_description__text--item {
    margin-bottom: 10px;
  }
  .content_description__phone {
    margin-bottom: 35px;
    margin: -50px auto;
  }
  .content_description__block {
    display: block;
  }
}
@media screen and (min-width: 767px) and (max-width: 880px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
  }
  .content_slider-block__phone {
    background-position: 50% 85px;
    -webkit-background-size: 62% 62%;
    background-size: 62%;
  }
  .content_slider-block__phone img {
    width: auto;
    height: auto;
  }
  .content_description__phone {
    background-position: 50% 85px;
    -webkit-background-size: 62% 62%;
    background-size: 62%;
  }
  .content_description__phone img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .content_slider-block {
    display: block;
  }
  .content_slider-block__phone {
    text-align: center;
    background-position: 50% 128px;
  }
  .content_slider-block__phone--device img {
    width: auto;
    height: auto;
  }
  .content_slider__main {
    text-align: center;
  }
  .content_slider__main--logo {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .content_slider__main--logo img {
    margin-bottom: 10px;
  }
  _description__text {
    margin: auto;
  }
  _description__text--item {
    margin-bottom: 10px;
  }
  _description__phone {
    text-align: center;
    background-position: 50% 128px;
  }
  _description__phone--button {
    top: 50%;
    left: 50%;
  }
  _description__block {
    display: block;
  }
  _example__images img {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 650px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
  }
  .footer__copy span {
    font-size: 16px;
  }
}
@media screen and (max-width: 587px) {
  .content_example__images img {
    margin-right: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
  }
  .content_slider {
    margin-top: -490px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 28%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 28%);
  }
  .wrapper {
    overflow: hidden;
  }
  .content_slider-block {
    display: block;
  }
  .content_slider-block__main--logo .logo-text {
    width: 100%;
  }
  .content_slider-block__phone {
    background-position: 50%;
    -webkit-background-size: 63% 63%;
    background-size: 63%;
  }
  .content_slider-block__phone img {
    width: 100%;
  }
  .content_slider-block__phone img-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .content_slider_gallery__images img {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .content_gallery__images img {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 89px;
    top: 17.6%;
    width: 266px;
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -90px;
  }
  .content_slider-block__phone img {
    width: auto;
    height: auto;
  }
  .content_slider-block__main--logo {
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .content_description__phone img {
    height: 100%;
    width: 100%;
  }
  .content_description__phone--images {
    position: absolute;
    left: 89px;
    top: 17.6%;
    width: 266px;
  }
  .content_description__phone--images img {
    height: 470px;
  }
  .content_description__phone .slick-dots {
    bottom: -100px;
    margin-left: 10px;
  }
  .content_description__phone img {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 89px;
    top: 17.6%;
    width: 266px;
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -95px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
  .content_description__phone img {
    width: 100%;
    height: 100%;
  }
  .content_description__phone--images {
    position: absolute;
    left: 77px;
    top: 17.6%;
    width: 221px;
  }
  .content_description__phone--images img {
    height: 391px;
  }
  .content_description__phone .slick-dots {
    bottom: -95px;
    margin-left: 0;
  }
  .content_description__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 801px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 69%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -95px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
  .content_description__phone--images {
    position: absolute;
    left: 50%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 196px;
  }
  .content_description__phone--images img {
    height: 344px;
  }
  .content_description__phone .slick-dots {
    bottom: -85px;
  }
  .content_description__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 72%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -95px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
  .content_description__phone--images {
    position: absolute;
    left: 50%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 186px;
  }
  .content_description__phone--images img {
    height: 328px;
  }
  .content_description__phone .slick-dots {
    bottom: -85px;
  }
  .content_description__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 750px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 50%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -100px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
  .content_description__phone--images {
    position: absolute;
    left: 50%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_description__phone--images img {
    height: 470px;
  }
  .content_description__phone .slick-dots {
    bottom: -100px;
  }
  .content_description__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 720px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 50%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -100px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 640px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 50%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -95px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 50%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -105px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
  .content_slider-block__phone--device img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 540px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 50%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -105px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 480px) {
  .content_slider-block__phone--images {
    position: absolute;
    left: 50%;
    top: 49.8%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .content_slider-block__phone--images img {
    height: 470px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -90px;
    margin-left: 10px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 420px) {
  .content_slider-block__phone--images {
    position: absolute;
    top: 49.7%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 230px;
  }
  .content_slider-block__phone--images img {
    height: 409px;
    width: auto;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -80px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
  .content_slider-block__phone img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 425px) {
  .content_slider-block__phone--images {
    position: absolute;
    top: 49.7%;
    left: 56.3%;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -70px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 375px) {
  .content_slider-block__phone--images {
    position: absolute;
    top: 49.7%;
    left: 49.9%;
    width: 203px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -70px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 320px) {
  .content_slider-block__phone--device img {
    width: 100%;
    height: 100%;
  }
  .content_slider-block__phone--images {
    position: absolute;
    top: 49.7%;
    left: 49.9%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 168px;
  }
  .content_slider-block__phone--images img {
    height: 295px;
  }
  .content_slider-block__phone .slick-dots {
    bottom: -70px;
  }
  .content_slider-block__phone .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 940px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
  }
  .content_slider-block__main--logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
}
@media screen and (max-width: 900px) and (min-width: 767px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 58%);
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 58%);
  }
  .content_slider-block__main--title {
    text-align: center;
  }
  .content_slider-block__main--logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content_slider-block__main--logo .logo-ball {
    margin-right: 20px;
  }
  .content_slider-block__phone {
    margin-right: 39%;
  }
  .content_description {
    margin-bottom: 30px;
  }
  .content_description__phone {
    margin-bottom: 35px;
    margin: 0 auto;
  }
  .content_description__phone--button {
    top: 260px;
    left: 170px;
  }
  .footer {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: -100px 100%;
  }
}
@media screen and (max-width: 767px) {
  h3 {
    font-family: 'SFUIDisplay-Medium';
  }
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
  }
  .no-mobile {
    display: none;
  }
  .content_slider {
    background-image: url(../img/bgmob.png);
    -webkit-background-size: 100% 50%;
    background-size: 100% 50%;
    padding-bottom: 80px;
  }
  .content_slider:lang(ru) {
    margin-top: -500px;
  }
  .content_slider-block__main--logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
}
@media screen and (max-width: 900px) and (min-width: 800px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 58%);
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 58%);
  }
  .content_slider-block__main--title {
    text-align: center;
  }
  .content_slider-block__main--logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .content_slider-block__main--logo .logo-ball {
    margin-right: 20px;
  }
  .content_slider-block__phone {
    margin-right: 39%;
  }
  .content_description {
    margin-bottom: 30px;
  }
  .content_description__phone {
    margin-bottom: 35px;
    margin: 0 auto;
  }
  .content_description__phone--button {
    top: 300px;
    left: 170px;
  }
  .footer {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: -100px 100%;
  }
}
@media screen and (max-width: 800px) and (min-width: 767px) {
  .content_slider-block__main--logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .content_description__phone--button {
    top: 260px;
    left: 170px;
  }
}
@media screen and (max-width: 768px) {
  .content_description__phone--button {
    top: 280px;
    left: 165px;
  }
}
@media screen and (max-width: 767px) {
  h3 {
    font-family: 'SFUIDisplay-Medium';
  }
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
  }
  .no-mobile {
    display: none;
  }
  .content_slider {
    background-attachment: scroll;
    background-image: url(../img/bgmob.png);
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 80px;
  }
  .content_slider:lang(ru) {
    margin-top: -500px;
  }
  .content_slider-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .content_slider-block__phone {
    display: none;
  }
  .content_slider-block__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 45px;
  }
  .content_slider-block__main--social {
    width: 90%;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .content_slider-block__main--social a img {
    width: 100%;
  }
  .content_slider-block__main--logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-top: 36px;
  }
  .content_slider-block__main--logo .logo-ball {
    margin-right: 55px;
    margin-left: 55px;
    width: 120px;
    height: 120px;
  }
  .content_slider-block__main--logo--logo .logo-text {
    width: 100%;
  }
  .content_slider-block__main--title {
    text-align: center;
  }
  .content_slider-block__main--title h1 {
    color: #fff;
    font-family: 'SFUIDisplay-Medium';
  }
  .content_slider-block__main--title h1:lang(ru) {
    font-size: 38px;
    line-height: 50px;
  }
  .content_description {
    background-image: none;
  }
  .content_description__phone {
    display: none;
  }
  .content_description__social {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content_gallery .mobile-image {
    display: block;
  }
  .content_gallery__title h3 {
    display: block;
    width: 440px;
    margin: 20px auto 0px auto;
  }
  .content_gallery__images {
    padding-top: 20px;
  }
  .content_gallery__images--png {
    display: none;
  }
  .content_example {
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.36);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.36);
    background-position-x: 55% !important;
    padding-bottom: 0;
  }
  .content_example__title {
    margin-bottom: 18px;
  }
  .footer {
    height: 255px;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
  }
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) and (min-width: 740px) {
  .content_example__images--item {
    width: 33%;
  }
}
@media screen and (max-width: 750px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
  }
  .no-mobile {
    display: none;
  }
  .content_slider {
    padding-bottom: 80px;
  }
  .content_slider-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .content_slider-block__phone {
    display: none;
  }
  .content_slider-block__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 45px;
  }
  .content_slider-block__main--social {
    width: 90%;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .content_slider-block__main--logo .logo-ball {
    margin-right: 55px;
    width: 100px;
    height: 100px;
  }
  .content_slider-block__main--logo .logo-text {
    width: 225px;
    height: 40px;
  }
  .content_slider-block__main--title {
    text-align: center;
  }
  .content_slider-block__main--title h1 {
    color: #fff;
    font-family: 'SFUIDisplay-Medium';
  }
  .content_slider-block__main--title h1:lang(ru) {
    font-size: 28px;
    line-height: 32px;
  }
  .content_description__phone {
    display: none;
  }
  .content_gallery .mobile-image {
    display: block;
  }
  .content_gallery__images--png {
    display: none;
  }
  .content_example {
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 55% !important;
    padding-bottom: 0;
  }
  .content_example__title {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 720px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
  }
  .no-mobile {
    display: none;
  }
  .content_slider {
    padding-bottom: 80px;
  }
  .content_slider-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .content_slider-block__phone {
    display: none;
  }
  .content_slider-block__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 45px;
  }
  .content_slider-block__main--social {
    width: 90%;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .content_slider-block__main--logo--logo {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-left: 75px;
  }
  .content_slider-block__main--logo--logo .logo-ball {
    margin-right: 55px;
    width: 100px;
    height: 100px;
  }
  .content_slider-block__main--logo--logo .logo-text {
    width: 225px;
    height: 40px;
  }
  .content_slider-block__main--title {
    text-align: center;
  }
  .content_slider-block__main--title h1 {
    color: #fff;
    font-family: 'SFUIDisplay-Medium';
  }
  .content_description {
    padding-bottom: 30px;
    background-image: none;
  }
  .content_description__phone {
    display: none;
  }
  .content_gallery .mobile-image {
    display: block;
  }
  .content_gallery__images--png {
    display: none;
  }
  .content_example {
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.36);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.36);
    background-position-x: 55% !important;
    padding-bottom: 0;
  }
  .content_example__title {
    margin-bottom: 18px;
  }
  .content_example__images--item {
    width: 33%;
  }
  .footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
  }
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .footer__social {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__social a {
    margin-right: 42px;
  }
  .footer__social a:last-child {
    margin-right: 0;
  }
  .footer__social img {
    height: 119px;
    height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
    background-position: 33% -70px;
    background-position-x: 33% !important;
    -webkit-background-size: 170% 170%;
    background-size: 170%;
  }
  h3 {
    font-size: 26px;
    line-height: 36px;
  }
  .content_slider {
    padding-bottom: 50px;
  }
  .content_slider:lang(ru) {
    margin-top: -470px;
  }
  .content_slider-block__main:lang(ru) {
    margin-top: 20px;
  }
  .content_slider-block__main--social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content_slider-block__main--social img {
    height: 119px;
    height: 50px;
  }
  .content_slider-block__main--title h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .content_slider-block__main--logo {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-left: 75px;
  }
  .content_slider-block__main--logo .logo-ball {
    margin-right: 55px;
    width: 120px;
    height: 120px;
  }
  .content_slider-block__main--logo .logo-text {
    width: 100%;
  }
  .content_about {
    margin-bottom: 0;
  }
  .content_about ol {
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .content_about ol li {
    font-size: 16px;
    line-height: 18px;
  }
  .content_example {
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 55% !important;
  }
  .content_example__title {
    padding-top: 10px;
  }
  .content_example__images {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 56%;
  }
  .content_example__images img {
    width: 80%;
    height: 80%;
    margin: 0 5px 16px 0;
  }
  .content_example__images img:nth-child(3) {
    margin-right: 0;
  }
  .content_example__images img:nth-child(6) {
    margin-right: 0;
  }
  .content_description {
    padding-top: 20px;
    margin-bottom: 30px;
    background-image: none;
  }
  .content_description__text--item {
    margin-bottom: 20px;
  }
  .content_description__text--item p {
    font-size: 14px;
    line-height: 16px;
  }
  .content_gallery {
    margin-bottom: 0px;
  }
  .content_gallery__title {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  .content_gallery__title h3 {
    display: block;
    width: 500px;
    margin: 20px auto 0px auto;
  }
  .footer {
    height: 155px;
    -webkit-background-size: 155% 35%;
    background-size: 155% 35%;
    background-position: -35px bottom;
  }
  .footer__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__social img {
    height: 119px;
    height: 35px;
  }
  .footer-block {
    margin-top: 0px;
  }
  .footer__copy {
    margin-right: 0;
  }
  .footer__copy span {
    font-size: 14px;
  }
}
@media screen and (max-width: 750px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
    background-position: 33% -70px;
    background-position-x: 33% !important;
    -webkit-background-size: 170% 170%;
    background-size: 170%;
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
  }
  .no-mobile {
    display: none;
  }
  .content_slider {
    padding-bottom: 80px;
  }
  .content_slider-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .content_slider-block__main--social img {
    width: 100%;
    height: 85%;
  }
  .content_slider-block__main--social a:first-child {
    margin-right: 25px;
  }
  .content_slider-block__main--title h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .content_slider-block__main--title h1:lang(ru) {
    font-size: 22px;
    line-height: 26px;
  .content_slider-block__phone {
    display: none;
  }
  .content_slider-block__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 45px;
  }
  .content_slider-block__main--social {
    width: 90%;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .content_slider-block__main--title {
    text-align: center;
  }
  .content_slider-block__main--title h1 {
    color: #fff;
    font-family: 'SFUIDisplay-Medium';
  }
  .content_slider-block__main--title h1:lang(ru) {
    font-size: 28px;
    line-height: 32px;
  }
  .content_description__phone {
    display: none;
  }
  .content_gallery .mobile-image {
    display: block;
  }
  .content_gallery__images--png {
    display: none;
  }
  .content_example {
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 55% !important;
    padding-bottom: 0;
  }
  .content_example__title {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 720px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.39);
  }
  .no-mobile {
    display: none;
  }
  .content_slider {
    padding-bottom: 80px;
  }
  .content_slider-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .content_slider-block__phone {
    display: none;
  }
  .content_slider-block__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 45px;
  }
  .content_slider-block__main--social {
    width: 90%;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .content_slider-block__main--logo--logo {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-left: 75px;
  }
  .content_slider-block__main--logo--logo .logo-ball {
    margin-right: 55px;
    width: 100px;
    height: 100px;
  }
  .content_slider-block__main--logo--logo .logo-text {
    width: 225px;
    height: 40px;
  }
  .content_slider-block__main--title {
    text-align: center;
  }
  .content_slider-block__main--title h1 {
    color: #fff;
    font-family: 'SFUIDisplay-Medium';
  }
  .content_description__phone {
    display: none;
  }
  .content_gallery .mobile-image {
    display: block;
  }
  .content_gallery__images--png {
    display: none;
  }
  .content_example {
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 55% !important;
    padding-bottom: 0;
  }
  .content_example__title {
    margin-bottom: 18px;
  }
  .content_example__images--item {
    width: 33%;
  }
  .footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
  }
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .footer__social {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__social a {
    margin-right: 42px;
  }
  .footer__social a:last-child {
    margin-right: 0;
  }
  .footer__social img {
    height: 119px;
    height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
    background-position: 33% -70px;
    background-position-x: 33% !important;
    -webkit-background-size: 170% 170%;
    background-size: 170%;
  }
  .content_slider {
    padding-bottom: 50px;
  }
  .content_slider:lang(ru) {
    margin-top: -470px;
  }
  .content_slider-block__main:lang(ru) {
    margin-top: 20px;
  }
  .content_slider-block__main--social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content_slider-block__main--social img {
    height: 119px;
    height: 35px;
  }
  .content_slider-block__main--title h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .content_slider-block__main--logo {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-left: 75px;
  }
  .content_slider-block__main--logo .logo-ball {
    margin-right: 55px;
    width: 100px;
    height: 100px;
  }
  .content_slider-block__main--logo .logo-text {
    width: 225px;
    height: 40px;
  }
  .content_slider_gallery {
    margin-bottom: 0px;
  }
  .content_slider_gallery__title {
    margin-bottom: 20px;
  }
  .content_slider_gallery__title h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .content_slider_about {
    margin-bottom: 0;
  }
  .content_slider_about h3 {
    font-size: 18px;
  }
  .content_slider_about ol {
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .content_slider_about ol li {
    font-size: 16px;
    line-height: 18px;
  }
  .content_slider_example {
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 55% !important;
  }
  .content_slider_example__title {
    padding-top: 10px;
  }
  .content_slider_example__title h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .content_slider_example__images {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 56%;
  }
  .content_slider_example__images img {
    width: 80px;
    height: 80px;
    margin: 0 5px 16px 0;
  }
  .content_slider_example__images img:nth-child(3) {
    margin-right: 0;
  }
  .content_slider_example__images img:nth-child(6) {
    margin-right: 0;
  }
  .content_slider_description {
    padding-top: 20px;
    margin-bottom: 30px;
    background-image: none;
  }
  .content_slider_description__text--item {
    margin-bottom: 20px;
  }
  .content_slider_description__text--item h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .content_slider_description__text--item p {
    font-size: 14px;
    line-height: 16px;
  }
  .footer {
    height: 155px;
    -webkit-background-size: 155% 35%;
    background-size: 155% 35%;
    background-position: -35px bottom;
  }
  .footer__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer__social img {
    height: 119px;
    height: 35px;
  }
  .footer-block {
    margin-top: 0px;
  }
  .footer__copy {
    margin-right: 0;
  }
  .footer__copy span {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
    background-position: 33% -70px;
    background-position-x: 33% !important;
    -webkit-background-size: 170% 170%;
    background-size: 170%;
  }
  .content_slider {
    padding-bottom: 50px;
  }
  .content_slider-block__main:lang(ru) {
    margin-top: 20px;
  }
  .content_slider-block__main--social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content_slider-block__main--social img {
    height: 119px;
    height: 35px;
  }
  .content_slider-block__main--title h1 {
    font-size: 22px;
    line-height: 30px;
  }
  .content_slider-block__main--title h1:lang(ru) {
    font-size: 22px;
    line-height: 26px;
  }
  .content_slider-block__main--logo {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .content_slider-block__main--logo .logo-ball {
    margin-right: 55px;
    margin-left: 55px;
    width: 120px;
    height: 120px;
  }
  .content_gallery {
    margin-bottom: 0px;
  }
  .content_gallery__title {
    margin-bottom: 20px;
  }
  .content_about {
    margin-bottom: 0;
  }
  .content_gallery__title h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .content_about {
    margin-bottom: 0;
  }
  .content_about h3 {
    font-size: 18px;
  }
  .content_about ol {
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .content_about ol li {
    font-size: 16px;
    line-height: 18px;
  }
  .content_example {
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 55% !important;
  }
  .content_example__title {
    padding-top: 10px;
  }
  .content_example__title h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .content_example__images {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 56%;
  }
  .content_example__images img {
    width: 80%;
    height: 80%;
    margin: 0 5px 16px 0;
  }
  .content_example__images img:nth-child(3) {
    margin-right: 0;
  }
  .content_example__images img:nth-child(6) {
    margin-right: 0;
  }
  .content_description {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .content_description__text--item {
    margin-bottom: 20px;
  }
  .content_description__text--item h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .content_description__text--item p {
    font-size: 16px;
    line-height: 18px;
  }
  .content_description__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content_description__social img {
    width: 100%;
    height: 85%;
  }
  .footer {
    height: 155px;
    -webkit-background-size: 160% 35%;
    background-size: 160% 35%;
    background-position: -35px bottom;
    width: 119px;
    height: 35px;
  }
  .footer {
    height: 155px;
    -webkit-background-size: 160% 35%;
    background-size: 160% 35%;
    background-position: -35px bottom;
  }
  .footer-block {
    margin-top: 0px;
  }
  .footer__copy {
    margin-right: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__copy p {
    font-size: 14px;
  }
}
@media screen and (max-width: 568px) {
  .content_slider-block__main--title h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .content_slider-block__main--logo .logo-ball {
    margin-right: 55px;
    margin-left: 55px;
    width: 120px;
    height: 120px;
  }
  .content_slider-block__main--social a img {
    width: 100%;
    height: 85%;
  }
  .content_slider-block__main--social a:first-child {
    margin-right: 25px;
  }
  .content_slider-block_gallery__title h3 h3 {
    display: block;
    width: 440px;
    margin: 20px auto 0px auto;
  }
    font-size: 22px;
    line-height: 30px;
  }
  .footer {
    height: 155px;
    -webkit-background-size: 170% 35%;
    background-size: 170% 35%;
    background-position: -35px bottom;
  }
}
@media screen and (max-width: 540px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
    background-position: 33% -70px;
    -webkit-background-size: 170% 170%;
    background-size: 170%;
  }
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .content_slider {
    margin-top: -490px;
    padding-bottom: 50px;
  }
  .content_slider-block__main:lang(ru) {
    margin-top: 20px;
  }
  .content_slider-block__main--social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content_slider-block__main--social img {
    width: 100%;
    height: 85%;
  }
  .content_slider-block__main--social a:first-child {
    margin-right: 25px;
  }
  .content_slider-block__main--title h1 {
    font-size: 24px;
    width: 119px;
    height: 35px;
  }
  .content_slider-block__main--title h1 {
    font-size: 22px;
    line-height: 30px;
  }
  .content_gallery {
    margin-bottom: 0px;
  }
  .content_gallery__title {
    margin-bottom: 20px;
  }
  .content_gallery__title h3 {
    display: block;
    width: 350px;
    margin: 20px auto 0px auto;
    font-size: 14px;
    line-height: 18px;
  }
  .content_about {
    margin-bottom: 0;
  }
  .content_about h3 {
    font-size: 16px;
  }
  .content_about ol {
    padding-top: 10px;
  }
  .content_about ol li {
    font-size: 14px;
    line-height: 16px;
  }
  .content_example {
    -webkit-background-size: cover;
    background-size: cover;
    background-position-x: 55% !important;
  }
  .content_example__title {
    padding-top: 10px;
  }
  .content_example__title h3 {
    font-size: 12px;
    line-height: 14px;
  }
  .content_example__images {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 56%;
  }
  .content_example__images img {
    width: 80%;
    height: 80%;
    width: 80px;
    height: 80px;
    margin: 0 5px 16px 0;
  }
  .content_example__images img:nth-child(3) {
    margin-right: 0;
  }
  .content_example__images img:nth-child(6) {
    margin-right: 0;
  }
  .content_description {
    padding-top: 20px;
    margin-bottom: 30px;
    background-image: none;
  }
  .content_description__text--item {
    margin-bottom: 20px;
  }
  .content_description__text--item h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .content_description__text--item p {
    font-size: 14px;
    line-height: 16px;
  }
  .content_description__social a img {
    width: 100%;
    height: 100%;
  }
  .content_description__social a:first-child {
    margin-right: 25px;
  }
  .footer__copy {
    margin-right: 0;
  }
  .footer__copy span {
    font-size: 10px;
  }
}
@media screen and (max-width: 460px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
    background-position: 33% -70px;
    -webkit-background-size: 170% 170%;
    background-size: 170%;
  }
  .content_slider {
    margin-top: -490px;
  }
  .content_slider-block__main--logo {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
  }
  .content_slider-block__main--social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .content_gallery__images--item {
    width: 47%;
    margin-right: 0;
  }
  .content_gallery__images--item img {
    width: 100%;
  }
  .content_gallery__title {
    margin-bottom: 20px;
    display: block;
    width: 350px;
    margin: 20px auto 0px auto;
  }
  .content__images img {
    width: 85%;
    height: 85%;
  }
}
@media screen and (max-width: 425px) and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 26%, 0% 39%);
    background-position: 33% -55px;
    -webkit-background-size: 170% 170%;
    background-size: 170%;
  }
  .content_slider {
    margin-top: -490px;
  }
  .content_slider-block__main--social img {
    width: 100%;
    height: 100%;
  }
  .content_slider-block__main--social a:first-child {
    margin-right: 25px;
  }
  .content_description {
    padding-top: 20px;
    margin-bottom: 30px;
    background-image: none;
  }
  .content_description__social a img {
    width: 100%;
    height: 100%;
  }
  .content_description__social a:first-child {
    margin-right: 25px;
  }
  .content_gallery__images {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .content_gallery__images--item {
    width: 46%;
    margin-right: 20px;
  }
  .content_gallery__images--item:nth-child(2n) {
    margin-right: 0;
  }
  .content_gallery__images--item img {
    height: 100%;
  }
  .content_gallery__title h3 {
    display: inline;
  }
  .content_example {
    background-position-x: 57% !important;
  }
  .content_example__images img {
    width: 90%;
    height: 90%;
  }
  .content_example {
    background-position-x: 57% !important;
  }
}
@media screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 28%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 28%, 0% 39%);
    background-position: 33% -10px;
    -webkit-background-size: 170% 170%;
    background-size: 170%;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .content_slider {
    margin-top: -485px;
  }
}
@media screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 26%, 0% 39%);
  }
  .header:lang(ru) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 41%);
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 41%);
  }
  .content_slider {
    margin-top: -490px;
  }
  .content_slider:lang(ru) {
    margin-top: -480px;
  }
}
@media screen and (min-width: 1700px) {
  .content_slider {
    background-position-x: 60% !important;
    -webkit-background-size: 79% 72%;
    background-size: 79% 72%;
  }
  .content_description {
    background-position-x: 73% !important;
  }
}
@media screen and (min-width: 1900px) {
  .content_slider {
    background-position-x: 60% !important;
    -webkit-background-size: 78% 72%;
    background-size: 78% 72%;
  }
  .content_description {
    background-position-x: 71% !important;
  }
}
@media screen and (min-width: 2100px) {
  .content_slider {
    background-position-x: 60% !important;
    -webkit-background-size: 74% 72%;
    background-size: 74% 72%;
  }
  .content_description {
    background-position-x: 68% !important;
  }
}
@media screen and (min-width: 2300px) {
  .content_slider {
    background-position-x: 60% !important;
    -webkit-background-size: 72% 72%;
    background-size: 72% 72%;
  }
  .content_description {
    background-position-x: 66% !important;
  }
}
@media screen and (min-width: 2500px) {
  .content_slider {
    background-position-x: 60% !important;
    -webkit-background-size: 71% 71%;
    background-size: 71% 71%;
  }
  .content_description {
    background-position-x: 65% !important;
  }
}
@media screen and (min-width: 2700px) {
  .content_slider {
    background-position-x: 60% !important;
    -webkit-background-size: 69% 72%;
    background-size: 69% 72%;
  }
  .content_description {
    background-position-x: 64% !important;
  }
}
@media screen and (min-width: 3000px) {
  .content_slider {
    background-position-x: 60% !important;
    -webkit-background-size: 68% 86%;
    background-size: 68% 86%;
  }
  .content_description {
    background-position-x: 62% !important;
  }
}
@media screen and (min-width: 3200px) {
  .content_slider {
    background-position-x: 60% !important;
    -webkit-background-size: 68% 90%;
    background-size: 68% 90%;
  }
  .content_description {
    background-position-x: 61% !important;
  }
}
@media screen and (min-width: 3500px) {
  .content_slider {
    background-position-x: 61% !important;
    -webkit-background-size: 68% 90%;
    background-size: 68% 90%;
  }
  .content_description {
    background-position-x: 60% !important;
  }
}
@media screen and (min-width: 3800px) {
  .content_slider {
    background-position-x: 61% !important;
    -webkit-background-size: 68% 90%;
    background-size: 68% 90%;
  }
  .content_description {
    background-position-x: 59% !important;
  }
}
@media screen and (min-width: 4000px) {
  .content_slider {
    background-position-x: 61% !important;
    -webkit-background-size: 68% 90%;
    background-size: 68% 90%;
  }
  .content_description {
    background-position-x: 58% !important;
  }
}
.video_button {
  display: none;
}
