// Fonts
@font-face {// ArialMT
  font-family: 'Arial';
  src: url('../fonts/ArialMT.eot');
  src: local('../fonts/Arial'), local('ArialMT'),
  url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ArialMT.woff') format('woff'),
  url('../fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUIDisplay-Medium';
  src: url('../fonts/SFUIDisplay-Medium.eot');
  src: local('../fonts/SF UI Display Medium'), local('SFUIDisplay-Medium'),
  url('../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Medium.woff') format('woff'),
  url('../fonts/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url('../fonts/SFUIDisplay-Regular.eot');
  src: local('../fonts/SF UI Display Regular'), local('SFUIDisplay-Regular'),
  url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Regular.woff') format('woff'),
  url('../fonts/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('../fonts/SFUIDisplay-Semibold.eot');
  src: local('../fonts/SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
  url('../fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Semibold.woff') format('woff'),
  url('../fonts/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SFUIDisplay-Bold';
  src: url('../fonts/SFUIDisplay-Bold.eot');
  src: local('../fonts/SF UI Display Bold'), local('SFUIDisplay-Bold'),
  url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUIDisplay-Bold.woff') format('woff'),
  url('../fonts/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Reset
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a,img,footer, header,section{
  margin: 0;
  padding: 0;
}

// User`s style

p{
  font-size: 20px;
  font-family: 'SFUIDisplay-Regular';
  letter-spacing: 0;
  line-height: 26px;
}

h1{
  font-family: 'SFUIDisplay-Regular';
  font-size: 44px;
  letter-spacing: 0.1px;
  line-height: 55px;
}
h2{
  font-size: 30px;
  font-family: 'SFUIDisplay-Regular';
  line-height: 28px;
  letter-spacing: 0.7px;
}
h3{
  font-size: 26px;
  font-family: 'SFUIDisplay-Regular';
  line-height: 30px;
  letter-spacing: 0.1px;
}
h4{
  font-size: 22px;
  font-family: 'SFUIDisplay-Regular';
  letter-spacing: 0.1px;
  line-height: 30px;
}
span{
  font-size: 14px;
  letter-spacing: -0.3px;
}
body{
 color: @content-color;

}
// Variables

@title-Color : rgb(0,59,106);
@subTitle-Color : rgb(6,63,78);
@content-color: rgb(34,34,34);

body{
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(255,255,255), rgb(231,249,255));
  background-repeat: repeat;
  background-attachment: fixed;
}

// Style
.content_slider{
  color: @title-Color ;
}
.container{
  max-width: 1000px;
  margin : 0 auto;
}
// Header
.header{
  height: 473.5px;
  background-image: url(../img/1_header1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 62%, 0% 100%);
  background-attachment: fixed;
  //Lang
  &-lang{
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    &__panel{
      .dropdown{
        padding-bottom: 5px;
        a#drop1{
          color: #fff;
          &:hover{
            text-decoration: none;
          }
        }
        img{
          margin-right: 8px;
        }
        ul.dropdown-menu{
          background-color: transparent;
          left: 1px !important;
          border: none;
          li{
            a{
              color: #fff;
            }
            img{
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  }
  //Lang
  &-lang{
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;

  }
  select{
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border: none;
    font-family: 'SFUIDisplay-Medium';
    &:active{
      color: #000;
    }
    .hide{
      display: none;
    }
    option{
      color: #000;
      background-repeat:no-repeat;
      background-position:bottom left;
      padding-left:30px;
    }
  }
}

//Content
.content{
  &_slider{
    margin-top: -390px;
    padding-bottom: 25px;
    background-image: url(../img/bg_image1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-size: contain;
    background-position-y: -300px;
    background-position-x: 50px !important;
    position: relative;
    z-index: 1000;
    @media screen and (min-width: 1500px){
      background-attachment: inherit !important;
    }
    &-block{
      display: flex;
      align-items: flex-end;
      &__phone{
        &--images{
          position: absolute;
          top: 128px;
          left: 89px;
          width: 266px;
          img{
            width: 700px;
            height: 471px;
          }
        }
      }
      //Slider
      .slick-prev,
      .slick-next{
        display: none !important;
      }

      .slick-dots{
        display: flex;
        justify-content:center;
        position: absolute;
        bottom: -110px;
        button{
          display: none;
        }
        li{
          width: 14px;
          height: 14px;
          margin: 0;
          margin-right: 21px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      &__main{
        margin-bottom: 45px;
        &--social{
          margin-bottom: 24px;
          cursor:pointer;
          &:lang(ru){
            margin-bottom: 15px;
          }
          img{
            height: 50px;
            width: 170px;
            margin-right: 24px;
            margin-bottom: 10px;
          }
        }
        &--logo{
          margin-bottom: 26px;
          &:lang(ru){
            margin-bottom: 20px;
          }
          .logo-ball{
            margin-bottom: 16px;
            &:lang(ru){
              margin-bottom: 10px;
            }
          }
        }
        &--title{
          h1{
            font-family: 'SFUIDisplay-Regular';
            &:lang(ru){
              font-size: 40px;
              line-height: 50px;
              font-size: 43px;
              line-height: 43px;
            }
          }

        }
      }
    }
  }
  &_description{
    background-image: url(../img/bg_image2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 84% !important;
    background-position-y: 100px;
    padding-top: 50px;
    z-index: 100;
    @media screen and (min-width: 1500px){
      background-attachment: inherit !important;
      background-position-x: 79% !important;
    }
    &__block{
      display: flex;
      padding: 0;
      z-index: -1;
    }
    &__text{
      &--item{
        margin-bottom: 30px;
        h3{
          margin-bottom: 15px;
          font-family: 'SFUIDisplay-Regular';
        }

      }
    }
    &__social{
      margin-top: 55px;
      img{
        margin-right: 20px;
        height: 50px;
        cursor:pointer;
      }
    }
    &__video{
      position: absolute;
      top: 128px;
      right: 62px;
      z-index: 200;

      video{
        border-radius: 2px;
        object-fit: fill;
      }
      @media screen and  (min-width: 1300px){
        right: 0;
        left: 88px;
        video{
          width: 268px;
        }
      }
      @media screen and (max-width: 1299px) and (min-width: 992px){
        right: 0;
        left: 88px;
        video{
          width: 268px;
        }
      }
      @media screen and (max-width: 992px) and (min-width: 880px){
        right: 0;
        left: 89px;
      }
      @media screen and (max-width: 900px){
        right: 0;
        left: 76px;
        top: 106px;
        video{
          height: 388px;
          width: 221px;
        }
      }
      @media screen and (max-width: 890px){
        right: 0;
        left: 76px;
        top: 105px;
        video{
          width: 219px;
          height: 386px;
        }
      }
      @media screen and (max-width: 880px){
        right: 0;
        left: 74px;
        top: 103px;
        video{
          width: 218px;
          height: 383px;
        }
      }
      @media screen and (max-width: 870px){
        right: 0;
        left: 74px;
        top: 105px;
        video{
          width: 214px;
          height: 385px;
        }
      }
      @media screen and (max-width: 850px){
        right: 0;
        left: 73px;
        top: 105px;
        video{
          width: 208px;
          height: 385px;
        }
      }
      @media screen and (max-width: 840px){
        right: 0;
        left: 71px;
        top: 105px;
        video{
          width: 207px;
          height: 385px;
        }
      }
      @media screen and (max-width: 830px){
        right: 0;
        left: 71px;
        top: 105px;
        video{
          width: 203px;
          height: 385px;
        }
      }
      @media screen and (max-width: 820px){
        right: 0;
        left: 71px;
        top: 105px;
        video{
          width: 200px;
          height: 385px;
        }
      }
      @media screen and (max-width: 900px){
        right: 0;
        left: 77px;
        top: 61px;
        video{
          height: 482px;
          width: 221px;
        }
      }
      @media screen and (max-width: 801px){
        right: 0;
        left: 69px;
        top: 105px;
        video{
          width: 196px;
          height: 385px;
        }
      }
      @media screen and (max-width: 800px){
        right: 0;
        left: 69px;
        top: 105px;
        video{
          height: 385px;
          width: 195px;
        }
      }
      @media screen and (max-width: 790px){
        right: 0;
        left: 68px;
        top: 122px;
        video{
          height: 450px;
          width: 193px;
        }
      }
      @media screen and (max-width: 780px){
        right: 0;
        left: 67px;
        top: 122px;
        video{
          height: 450px;
          width: 190px;
        }
      }
      @media screen and (max-width: 768px){
        right: 0;
        left: 67px;
        top: 122px;
        video{
          height: 450px;
          width: 187px;
        }
      }
      @media screen and (max-width: 768px){
        right: 0;
        left: 67px;
        top: 51px;
        video{
          height: 494px;
          width: 186px;
        }
      }
      @media screen and (max-width: 766px){
        right: 0;
        left: 0;
        top: 127px;
        video{
          height: 470px;
          width: 270px;
        }
      }
      @media screen and (max-width: 750px){
        right: 0;
        left: 0;
        top: 127px;
        video{
          height: 470px;
          width: 270px;
        }
      }
      @media screen and (max-width: 720px){
        right: 0;
        left: 0;
        top: 127px;
        video{
          height: 470px;
          width: 270px;
        }
      }
      @media screen and (max-width: 640px){
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        video{
          height: 470px;
          width: 270px;
        }
      }
      @media screen and (max-width: 600px){
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        video{
          height: 470px;
        }
      }
      @media screen and (max-width: 540px){
        top: 50.2%;
        left: 50%;
        transform: translate(-50%,-50%);
        video{
          height: 472px;
        }
      }
      @media screen and (max-width: 480px){
        top: 50.1%;
        left: 48%;
        transform: translate(-50%,-50%);
        video{
          height: 470px;
        }
      }
      @media screen and (max-width: 425px){
        top: 365px;
        right: -8px;
        video{
          width: 265px;
          height: 473px;
        }
      }
      @media screen and (max-width: 375px){
        top: 307px;
        right: -22px;
        video{
          width: 232px;
          height: 394px;
        }
      }
      @media screen and (max-width: 320px){
        top: 258px;
        right: -10px;
        video{
          width: 189px;
          height: 330px;
        }
      }
    }
    &__phone{
      margin-bottom: 126px;
      margin-top: -50px;
      position: relative;
      z-index: 1;
      img{
        z-index: -2;
      }
      //&--images{
      //  position: absolute;
      //  top: 128px;
      //  left: 89px;
      //  width: 266px;
      //  img{
      //    width: 700px;
      //    height: 471px;
      //  }
      //  //Slider
      //  .slick-prev,
      //  .slick-next{
      //    display: none !important;
      //  }
      //
      //  .slick-dots{
      //    display: flex;
      //    justify-content:center;
      //    position: absolute;
      //    bottom: -110px;
      //    button{
      //      display: none;
      //    }
      //    li{
      //      width: 14px;
      //      height: 14px;
      //      margin: 0;
      //      margin-right: 21px;
      //      &:last-child{
      //        margin-right: 0;
      //      }
      //    }
      //  }
      //}
      &--button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1000;
        margin-left: 15px;
        cursor: pointer;
        &-circle{
          width: 114px;
          height: 114px;
          border-radius: 50%;
          background-color: transparent;
          border: 5px solid #fff;
          opacity: 0.61;
        }
        &-triangle{
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 30px solid #fff;
          opacity: 0.61;
          border-radius: 4px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-left: 5px;
        }
        &-stop{
          position: absolute;
          top: 30%;
          left: 30%;
          display: none;
          &:before{
            width: 5px;
            height: 25px;
            background: #fff;
            position: absolute;
            opacity: 0.61;
            content: "";
            top: 10px;
            left: 15px;
          }
          &:after{
            width: 5px;
            height: 25px;
            background: #fff;
            position: absolute;
            opacity: 0.61;
            content: "";
            top: 10px;
            left: 25px;
          }
        }
        .active{
          display: block;
        }
        .hide{
          display: none;
        }
      }
    }
  }
  &_gallery{
    margin-bottom: 30px;
    .mobile-image{
      display: none;
    }
    &__title{
      margin-bottom: 40px;
      color: @subTitle-Color;
      font-family: 'SFUIDisplay-Regular';
    }
    &__images{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &--item{
        margin-bottom: 20px;
        width: 33%;
      }
      .content_gallery__images--gif{
        display: none;
        max-width: 100%;
        transition: all 3s ease;
      }
      .content_gallery__images--gif{
        transition: all 3s ease;
      }
    }
  }
  &_about{
    margin-bottom: 30px;
    h3{
      font-family: 'SFUIDisplay-Regular';
    }
    ol{
      padding-left: 17px;
      padding-top: 18px;
      margin-bottom: 20px;
      li{
        font-size: 20px;
        line-height: 26px;
        font-family: 'SFUIDisplay-Regular';
      }
    }
  }
  &_example{
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    background-image: url(../img/2_banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &__title{
      padding-top: 29px;
      margin-bottom: 45px;
    }
    &__images{
      padding: auto 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      img{
        width: 140px;
        height: 140px;
        margin-right: 30px;
        margin-bottom: 18px;
        &:last-child{
          @media screen and (min-width: 1300px){
            margin-left: 0;
          }
        }
      }
    }
  }

}


// Footer
.footer{
  height: 110px;
  font-family: 'SFUIDisplay-Regular';
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  animation-delay: 0.5s;
  background-size: 100% 100%;
  background-position: 0 100%;
  &__copy{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 20px;
    p{
      font-size: 16px;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
      font-size: 18px;
    }
    &--mail{
      color: rgb(18,132,245);
      cursor: pointer;
      text-decoration: underline;
    }
  }
  @media screen and (min-width: 1500px){
    background: url(../img/footer_bg.png) left top repeat,
                url(../img/footer.png) center top no-repeat,
                url(../img/footer_bg.png) right top repeat;
    background-size: contain,contain,contain ;
  }
}

//Media queries

//For gallery
@media screen and (max-width: 1200px){
  .content{
    &_gallery{
      &__images{
        &--item{
          width: 33%;
        }
      }
    }
  }
}
@media screen and (max-width: 992px){
  .content{
    &_gallery{
      &__images{
        &--item{
          width: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  .content{
    &_gallery{
      &__images{
        &--item{
          width: 45%;
          margin-right: 20px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1200px){
  .header{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 75%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 75%);
  }
  .content_slider{
    margin-top: -450px;
  }
}
@media screen and (max-width: 1030px) {
  .content {
    &_gallery {
      &__images {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 992px) and (min-width: 900px){
  .content {
    &_description{
      &__phone{
        margin-bottom: 35px;
        margin: -50px auto;
        &--images {
          position: absolute;
          top: 17.5%;
          left: 21%;
          width: 58%;
          img{
            height: auto;
          }
        }
        //Slider
        &--button{
          top: 350px;
          left: 210px;
        }

      }
    }
  }
}


@media screen and (max-width: 900px) {
  .content {
    &_slider {
      &-block{
        display: block;
        &__phone{
          margin: auto;
        }
        &__main{
          margin: auto;
          &--logo{
            align-items: center !important;
            img{
              margin-bottom: 10px;
              margin-right: 0;
            }
          }
          &--social{
            text-align: center;
          }
        }
      }
    }
    &_description{
      &__text{
        margin: 0 auto;
        &--item{
          margin-bottom: 10px;
        }
      }
      &__phone{
        margin-bottom: 35px;
        margin: -50px auto;

      }
      &__block{
        display: block;
      }
    }
  }
}
@media screen and (min-width: 767px)  and (max-width: 880px){
  .header{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
  }
  .content {
    &_slider {
      &-block{
        &__phone{
          background-position: 50% 85px;
          background-size: 62%;
          img{
            width: auto;
            height: auto;
          }
        }
      }
    }
    &_description{
      &__phone{
        background-position: 50% 85px;
        background-size: 62%;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
}
}
@media screen and (max-width: 767px) {
  .content {
    &_slider {
      &-block{
        display: block;
        &__phone{
          text-align: center;
          background-position: 50% 128px;
          &--device{
            img{
              width: auto;
              height: auto;
            }
          }
          }
        }
        &__main{
         text-align: center;
          &--logo{
            align-items: center !important;
            img{
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    &_description{
      &__text{
        margin: auto;
        &--item{
          margin-bottom: 10px;
        }
      }
      &__phone{
        text-align: center;
        background-position: 50% 128px;
        &--button{
          top: 50%;
          left: 50%;
        }
      }
      &__block{
        display: block;
      }
    }
    &_example{
      &__images{
        img{
          margin-bottom: 10px;
        }
    }
  }
}
@media screen and (max-width: 650px) {
  .footer{
    &-block{
      flex-direction: column;
      font-size: 16px;
    }
    &__copy{
      span{
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 587px) {
  .content {
    &_example {
      &__images {
        img {
          margin-right: 0;
        }
      }
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
  }
  .content {
    &_slider {
      margin-top: -490px;
    }
  }
}
@media screen and (max-width: 480px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 28%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 28%);
  }

  .wrapper {
    overflow: hidden;
  }


  .content {
    &_slider {
      &-block {
        display: block;
        &__main {
          &--logo {
            .logo-text {
              width: 100%;
            }
          }
        }
        &__phone {
          background-position: 50%;
          background-size: 63%;
          img {
            width: 100%;
            &-block {
              display: flex;
              align-items: flex-end;

            }
          }
        }
      }

      &_gallery {
        &__images {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {

  .content {
    &_gallery {
      &__images {
        img {
          width: 100%;
        }
      }
    }
  }

}

// Media queries for slider
@media screen and (max-width: 992px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 89px;
            top: 17.6%;
            width: 266px;
            img{
              height: 470px;
            }
          }
          //Slider
          .slick-dots {
            bottom: -90px;
          }
          img{
            width: auto;
            height: auto;
          }
        }
        &__main{
          &--logo{
            align-items: flex-start !important;
          }
        }
      }
    }
    &_description{
      &__phone{
        img{
          height: 100%;
          width: 100%;
        }
        &--images {
          position: absolute;
          left: 89px;
          top: 17.6%;
          width: 266px;
          img{
            height: 470px;
          }
        }
        //Slider
        .slick-dots {
          bottom: -100px;
          margin-left: 10px;
        }
        img{
          width: auto;
          height: auto;
        }
      }
    }
  }

}
@media screen and (max-width: 900px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 89px;
            top: 17.6%;
            width: 266px;
            img{
              height: 470px;
            }
          }
          .slick-dots {
            bottom: -95px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }
        }
      }
    }
    &_description{
      &__phone{
        img{
          width: 100%;
          height: 100%;
        }
        &--images {
          position: absolute;
          left: 77px;
          top: 17.6%;
          width: 221px;
          img{
            height: 391px;
          }
        }
        .slick-dots {
          bottom: -95px;
          margin-left: 0;
        }
        .slick-dots li {
          width: 10px;
          height: 10px;
          margin: 0 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 801px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 69%;
            top: 49.8%;
            transform: translate(-50%,-50%);
            img{
              height: 470px;
            }
          }
          .slick-dots {
            bottom: -95px;

          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }
        }
      }
    }
    &_description{
      &__phone{
        &--images {
          position: absolute;
          left: 50%;
          top: 49.8%;
          transform: translate(-50%,-50%);
          width: 196px;
          img{
            height: 344px;
          }
        }
        .slick-dots {
          bottom: -85px;
        }
        .slick-dots li {
          width: 10px;
          height: 10px;
          margin: 0 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 72%;
            top: 49.8%;
            transform: translate(-50%,-50%);
            img{
              height: 470px;
            }
          }
          .slick-dots {
            bottom: -95px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }
        }
      }
    }
    &_description{
      &__phone{
        &--images {
          position: absolute;
          left: 50%;
          top: 49.8%;
          transform: translate(-50%,-50%);
          width: 186px;
          img{
            height: 328px;
          }
        }
        .slick-dots {
          bottom: -85px;
        }
        .slick-dots li {
          width: 10px;
          height: 10px;
          margin: 0 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 750px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 50%;
            top: 49.8%;
            transform: translate(-50%,-50%);
            img{
              height: 470px;
            }
          }
          .slick-dots {
            bottom: -100px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }
        }
      }
    }
    &_description{
      &__phone{
        &--images {
          position: absolute;
          left: 50%;
          top: 49.8%;
          transform: translate(-50%,-50%);
          img{
            height: 470px;
          }
        }
        .slick-dots {
          bottom: -100px;
        }
        .slick-dots li {
          width: 10px;
          height: 10px;
          margin: 0 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 720px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 50%;
            top: 49.8%;
            transform: translate(-50%,-50%);
            img{
              height: 470px;
            }
          }
          .slick-dots {
            bottom: -100px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 50%;
            top: 49.8%;
            transform: translate(-50%,-50%);
            img{
              height: 470px;
            }
          }
          .slick-dots {
            bottom: -95px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 50%;
            top: 49.8%;
            transform: translate(-50%,-50%);
            img{
              height: 470px;
            }
          }
          .slick-dots {
            bottom: -105px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }
          &--device{
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 540px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 50%;
            top: 49.8%;
            transform: translate(-50%,-50%);
            img{
              height: 470px;
            }
          }
          .slick-dots {
            bottom: -105px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }

        }
      }
    }
  }
}
@media screen and (max-width: 480px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            left: 50%;
            top: 49.8%;
            transform: translate(-50%,-50%);
            img{
              height: 470px;
            }
          }
          //Slider
          .slick-dots {
            bottom: -90px;
            margin-left: 10px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }

        }
      }
    }
  }
}
@media screen and (max-width: 420px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            top: 49.7%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 230px;
            img{
              height: 409px;
              width: auto;
            }
          }
          //Slider
          .slick-dots {
            bottom: -80px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px){
  .content {
    &_slider {
      &-block {
        &__phone {

          &--images {
            position: absolute;
            top: 49.7%;
            left: 56.3%;

          }
          //Slider
          .slick-dots {
            bottom: -70px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }

        }
      }
    }
  }
}
@media screen and (max-width: 375px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--images {
            position: absolute;
            top: 49.7%;
            left: 49.9%;
            width: 203px;

          }
          //Slider
          .slick-dots {
            bottom: -70px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }

        }
      }
    }
  }
}
@media screen and (max-width: 320px){
  .content {
    &_slider {
      &-block {
        &__phone {
          &--device{
            img{
              width: 100%;
              height: 100%;
            }
          }
          &--images {
            position: absolute;
            top: 49.7%;
            left: 49.9%;
            transform: translate(-50%,-50%);
            width: 168px;
            img{
              height: 295px;
            }
          }
          //Slider
          .slick-dots {
            bottom: -70px;
          }
          .slick-dots li {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            margin-right: 10px;
          }

        }
      }
    }
  }
}


// New Adaptive
@media screen and (max-width: 940px) {
  .header{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 60%);
  }
  .content {
    &_slider {
      &-block{
        &__main{
          &--logo{
            flex-direction: column;
            align-items: flex-start !important;
          }
  }
  .content {
    &_slider {
      &-block{
        &__main{
          &--logo{
            flex-direction: column;
            align-items: flex-start !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) and (min-width: 767px){
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 58%);
  }
  .content {
    &_slider{
      &-block{
        &__main{
          &--title{
            text-align: center;
          }
          &--logo{
            flex-direction: row;
            .logo-ball{
              margin-right: 20px;
            }
          }
        }
        &__phone{
          margin-right: 39%;
        }
      }

    }
    &_description{
      margin-bottom: 30px;
      &__phone{
        margin-bottom: 35px;
        margin: 0 auto;
        &--button{
          top: 260px;
          left: 170px;
        }

      }
    }
  }
  .footer{
    background-size: cover;
    background-position: -100px 100%;
  }
}
@media screen and (max-width: 767px) {
  h3{
    font-family: 'SFUIDisplay-Medium';
  }
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.39);
  }
  .no-mobile{
    display: none;
  }
  .content {
    &_slider {

      background-image: url(../img/bgmob.png);
      background-size: 100% 50%;
      padding-bottom: 80px;
      &:lang(ru){
        margin-top: -500px;
      }
      &-block {
        display: flex;
        align-items: flex-end;
        &__phone {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) and (min-width: 800px){
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 58%);
  }
  .content {
    &_slider{
      &-block{
        &__main{
          &--title{
            text-align: center;
          }
          &--logo{
            flex-direction: row;
            align-items: center !important;
            .logo-ball{
              margin-right: 20px;
            justify-content: space-around;
            align-items: center !important;
            margin-top: 36px;
            .logo-ball {
              margin-right: 55px;
              width: 100px;
              height: 100px;
            }
            .logo-text {
              width: 225px;
              height: 40px;
            }
          }
          &--title {
            text-align: center;
            h1 {
              color: #fff;
              font-family: 'SFUIDisplay-Medium';
              &:lang(ru){
                font-size: 38px;
                line-height: 50px;
              }
            }
          }
        }
        &__phone{
          margin-right: 39%;
        }
      }

    }
    &_description{
      margin-bottom: 30px;
      &__phone{
        margin-bottom: 35px;
        margin: 0 auto;
        &--button{
          top: 300px;
          left: 170px;
        }

      padding-bottom: 30px;
      background-image: none;
      &__phone{
        display: none;
      }
    }
    &_gallery{
      .mobile-image{
        display: block;
      }
      &__images{
        &--png{
          display: none;
        }
      }
    }
    &_example{
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.36);
      background-position-x: 55% !important;
      padding-bottom: 0;
      &__title{
        margin-bottom: 18px;
      }
    }

  }
  .footer{
    background-size: cover;
    background-position: -100px 100%;
  }
}
@media screen and (max-width: 800px) and (min-width: 767px){

  .content {
    &_slider{
      &-block{
        &__main{
          &--logo{
            flex-direction: row;
            align-items: center !important;
          }
        }
      }
    }
    &_description{
      &__phone{
        &--button{
          top: 260px;
          left: 170px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .content {
    &_description{
      &__phone{
        &--button{
          top: 280px;
          left: 165px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  h3{
    font-family: 'SFUIDisplay-Medium';
  }
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.39);
  }
  .no-mobile{
    display: none;
  }
  .content {
    &_slider {
      background-attachment: scroll;
      background-image: url(../img/bgmob.png);
      background-size: cover;
      padding-bottom: 80px;
      &:lang(ru){
        margin-top: -500px;
      }
      &-block {
        display: flex;
        align-items: flex-end;
        &__phone {
          display: none;
        }
        &__main {
          display: flex;
          flex-direction: column-reverse;
          margin-top: 45px;
          &--social {
            width: 90%;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            a{
              img{
                width: 100%;
              }
            }
          }
          &--logo {
            flex-direction: row;
            justify-content: space-around;
            align-items: center !important;
            margin-top: 36px;
            .logo-ball {
              margin-right: 55px;
              margin-left: 55px;
              width: 120px;
              height: 120px;
            }
            &--logo{
              .logo-text{
                width: 100%;
              }
            }
          }
          &--title {
            text-align: center;
            h1 {
              color: #fff;
              font-family: 'SFUIDisplay-Medium';
              &:lang(ru){
                font-size: 38px;
                line-height: 50px;
              }
            }

          }
        }
      }
    }
    &_description{
      background-image: none;
      &__phone{
        display: none;
      }
      &__social {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
    }
    &_gallery{
      .mobile-image{
        display: block;
      }
      &__title{
        h3{
          display: block;
          width: 440px;
          margin: 20px auto 0px auto;
        }
      }
      &__images{
        padding-top: 20px;
        &--png{
          display: none;
        }
      }
    }
    &_example{
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.36);
      background-position-x: 55% !important;
      padding-bottom: 0;
      &__title{
        margin-bottom: 18px;
      }
    }

  }

  // Footer
  .footer {
    height: 255px;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100%;
    &-block{
      flex-direction: column-reverse;
      margin-top: 50px;
    }
  }
}
@media screen and (max-width: 768px) and  (min-width: 740px){
  .content{
    &_example{
      &__images{
        &--item{
          width: 33%;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.39);
  }
  .no-mobile{
    display: none;
  }
  .content {
    &_slider {
      padding-bottom: 80px;
      &-block {
        display: flex;
        align-items: flex-end;
        &__phone {
          display: none;
        }
        &__main {
          display: flex;
          flex-direction: column-reverse;
          margin-top: 45px;
          &--social {
            width: 90%;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
          }
          &--title {
            text-align: center;
            h1 {
              color: #fff;
              font-family: 'SFUIDisplay-Medium';
              &:lang(ru) {
                font-size: 28px;
                line-height: 32px;
              }
            }

          }
        }
      }
    }
    &_description{
      &__phone{
        display: none;
      }
    }
    &_gallery{
      .mobile-image{
        display: block;
      }
      &__images{
        &--png{
          display: none;
        }
      }
    }
    &_example{
      background-size: cover;
      background-position-x: 55% !important;
      padding-bottom: 0;
      &__title{
        margin-bottom: 18px;
      }
    }

  }
}
@media screen and (max-width: 720px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.39);
  }
  .no-mobile{
    display: none;
  }
  .content {
    &_slider {
      padding-bottom: 80px;
      &-block {
        display: flex;
        align-items: flex-end;
        &__phone {
          display: none;
        }
        &__main {
          display: flex;
          flex-direction: column-reverse;
          margin-top: 45px;
          &--social {
            width: 90%;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
          }
          &--logo {
            &--logo {
              margin-bottom: 20px;
              margin-left: 15px;
              margin-right: 15px;
              justify-content: start;
              margin-left: 75px;
              .logo-ball {
                margin-right: 55px;
                width: 100px;
                height: 100px;
              }
              .logo-text {
                width: 225px;
                height: 40px;
              }
            }
          }
          &--title {
            text-align: center;
            h1 {
              color: #fff;
              font-family: 'SFUIDisplay-Medium';
            }

          }
        }
      }
    }
    &_description{
      &__phone{
        display: none;
      }
    }
    &_gallery{
      .mobile-image{
        display: block;
      }
      &__images{
        &--png{
          display: none;
        }
      }
    }
    &_example{
      background-size: cover;
      background-position-x: 55% !important;
      padding-bottom: 0;
      &__title{
        margin-bottom: 18px;
      }
      &__images{
        &--item{
          width: 33%;
        }
      }
    }

  }

  // Footer
  .footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100%;
    &-block{
      flex-direction: column-reverse;
      margin-top: 50px;
    }
    &__social {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      flex-direction: row;
      a{
        margin-right: 42px;
        &:last-child{
          margin-right: 0;
        }
      }
        img{
          height: 119px;
          height: 35px;
        }
    }
  }
}
@media screen and (max-width: 640px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
    background-position: 33% -70px;
    background-position-x: 33% !important;
    background-size: 170%;
@media screen and (max-width: 750px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.39);
  }
  .no-mobile{
    display: none;
  }
  h3{
    font-size: 26px;
    line-height: 36px;
  }
  .content {
    &_slider {
      &:lang(ru){
        margin-top: -470px
      }
      padding-bottom: 50px;
      padding-bottom: 80px;
      &-block {
        display: flex;
        align-items: flex-end;
        &__phone {
          display: none;
        }
        &__main {
          &:lang(ru) {
            margin-top: 20px;
          }
          &--social {
            flex-direction: row;
            img {
              height: 119px;
              height: 50px;
            }
          }
          &--title {
            h1 {
              font-size: 32px;
              line-height: 40px;
            }
          }
          &--logo {
            margin-bottom: 20px;
            margin-left: 15px;
            margin-right: 15px;
            justify-content: start;
            margin-left: 75px;
            .logo-ball {
              margin-right: 55px;
              width: 120px;
              height: 120px;
            }
            .logo-text {
              width: 100%;
            }
          }
        }
      }
    }
    &_about {
      margin-bottom: 0;
      ol {
        padding-top: 10px;
        margin-bottom: 20px;
        li {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
    &_example {
      background-size: cover;
      background-position-x: 55% !important;
      &__title {
        padding-top: 10px;
      }
      &__images {
        background-size: cover;
        background-position: 56%;
        img {
          width: 80%;
          height: 80%;
          margin: 0 5px 16px 0;
          &:nth-child(3) {
            margin-right: 0;
          }
          &:nth-child(6) {
            margin-right: 0;
          }
        }
      }
    }
    &_description {
      padding-top: 20px;
      margin-bottom: 30px;
      background-image: none;
      &__text {
        &--item {
          margin-bottom: 20px;
          p {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    &_gallery {
      margin-bottom: 0px;
      &__title {
        margin-bottom: 20px;
        padding-top: 20px;
        h3{
          display: block;
          width: 500px;
          margin: 20px auto 0px auto;
        }
      }
    }
  }
  .footer {
    height: 155px;
    background-size: 155% 35%;
    background-position: -35px bottom;
    &__social {
      flex-direction: row;
      img {
        height: 119px;
        height: 35px;
      }
    }
    &-block {
      margin-top: 0px;
    }
    &__copy {
      margin-right: 0;
      span {
        font-size: 14px;
      }
    }
  }
}
  @media screen and (max-width: 600px) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
      background-position: 33% -70px;
      background-position-x: 33% !important;
      background-size: 170%;
    }

    .content {
      &_slider {
        padding-bottom: 50px;
        &-block {
          &__main {
            &:lang(ru) {
              margin-top: 20px;
            }

            &--social {
              flex-direction: row;
              img{
                width: 100%;
                height: 85%;
              }
              a{
                &:first-child{
                  margin-right: 25px;
                }
              }
            }
            &--title {
              h1 {
                font-size: 24px;
                line-height: 30px;
                &:lang(ru) {
                  font-size: 22px;
                  line-height: 26px;
                }
              }
            }
            &--logo {
              margin-bottom: 20px;
              margin-left: 15px;
              margin-right: 15px;
              padding-top: 20px;
              .logo-ball {
                margin-right: 55px;
                margin-left: 55px;
                width: 120px;
                height: 120px;
              }
            }
          }
        }
      }
      &_gallery {
        margin-bottom: 0px;
        &__title {
          margin-bottom: 20px;
        }
      }
      &_about {
        margin-bottom: 0;
        ol {
          padding-top: 10px;
          margin-bottom: 20px;
          li {
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
      &_example {
        background-size: cover;
        background-position-x: 55% !important;
        &__title {
          padding-top: 10px;
        }
        &__images {
          background-size: cover;
          background-position: 56%;
          img {
            width: 80%;
            height: 80%;
            margin: 0 5px 16px 0;
            &:nth-child(3) {
              margin-right: 0;
            }
            &:nth-child(6) {
              margin-right: 0;
            }
          }
        }
      }
      &_description {
        padding-top: 20px;
        margin-bottom: 30px;
        &__text {
          &--item {
            margin-bottom: 20px;
            p {
              font-size: 16px;
              line-height: 18px;
            }
          }
        }
        &__social {
          flex-direction: row;
          img {
            width: 100%;
            height: 85%;
          }
        }
      }
    }

    .footer {
      height: 155px;
      background-size: 160% 35%;
      background-position: -35px bottom;
      &-block {
        margin-top: 0px;
      }
      &__copy {
        margin-right: 0;
        flex-wrap: wrap;
        justify-content: center;
        p {
          font-size: 14px;
        }
      }
    }
  }
  @media screen and (max-width: 568px) {
    .content {
      &_slider {
        &-block {
          &__main {
            &--title {
              h1 {
                font-size: 24px;
                line-height: 30px;
              }
            }
            &--logo{
              .logo-ball {
                margin-right: 55px;
                margin-left: 55px;
                width: 120px;
                height: 120px;
              }
            }
            &--social{
              a{
                img{
                  width: 100%;
                  height: 85%;
                }
                &:first-child{
                  margin-right: 25px;
                }
              }

            }
          }
          &_gallery{
            &__title{
              h3{
                h3{
                  display: block;
                  width: 440px;
                  margin: 20px auto 0px auto;
                }
              }
            }
          }
        }
      }
    }

    .footer {
      height: 155px;
      background-size: 170% 35%;
      background-position: -35px bottom;
    }

  }
  @media screen and (max-width: 540px) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
      background-position: 33% -70px;
      background-size: 170%;
    }
    h3{
      font-size: 20px;
      line-height: 28px;
    }
    .content {
      &_slider {
        margin-top: -490px;
        padding-bottom: 50px;
        &-block {
          &__main {
            &:lang(ru) {
              margin-top: 20px;
            }
            &--social {
              flex-direction: row;
              img{
                width: 100%;
                height: 85%;
              }
              a{
                &:first-child{
                  margin-right: 25px;
                }
              }
            }
            &--title {
              h1 {
                font-size: 24px;
                line-height: 30px;

              }
            }
          }
        }
      }
      &_gallery {
        margin-bottom: 0px;
        &__title {
          h3{
            display: block;
            width: 350px;
            margin: 20px auto 0px auto;
          }
          margin-bottom: 20px;

        }
      }
      &_about {
        margin-bottom: 0;
        ol {
          padding-top: 10px;
          li {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      &_example {
        background-size: cover;
        background-position-x: 55% !important;
        &__title {
          padding-top: 10px;
        }
        &__images {
          background-size: cover;
          background-position: 56%;
          img {
            width: 80%;
            height: 80%;
            margin: 0 5px 16px 0;
            &:nth-child(3) {
              margin-right: 0;
            }
            &:nth-child(6) {
              margin-right: 0;
            }
          }
        }
      }

      &_description {
        padding-top: 20px;
        margin-bottom: 30px;
        background-image: none;
        &__text {
          &--item {
            margin-bottom: 20px;
            p {
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
        &__social {
          a{
            img{
              width: 100%;
              height: 100%;
            }
            &:first-child{
              margin-right: 25px;
            }
          display: flex;
          flex-direction: column-reverse;
          margin-top: 45px;
          &--social {
            width: 90%;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
          }
          &--title {
            text-align: center;
            h1 {
              color: #fff;
              font-family: 'SFUIDisplay-Medium';
              &:lang(ru) {
                font-size: 28px;
                line-height: 32px;
              }
            }

          }
        }
      }
    }

    .footer {
      &__copy {
        margin-right: 0;
        span {
          font-size: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 460px) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
      background-position: 33% -70px;
      background-size: 170%;
    }

    .content {
      &_slider {
        margin-top: -490px;
        &-block {
          &__main {
            &--logo {
              margin-left: 0px;
              margin-right: 0px;
              padding-top: 10px;
            }
            &--social{
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
      &_gallery {
        &__images {
          &--item {
            width: 47%;
            margin-right: 0;
            img {
              width: 100%;
            }
    &_description{
      &__phone{
        display: none;
      }
    }
    &_gallery{
      .mobile-image{
        display: block;
      }
      &__images{
        &--png{
          display: none;
        }
      }
    }
    &_example{
      background-size: cover;
      background-position-x: 55% !important;
      padding-bottom: 0;
      &__title{
        margin-bottom: 18px;
      }
    }

  }
}
@media screen and (max-width: 720px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 31%, 0% 47%);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.39);
  }
  .no-mobile{
    display: none;
  }
  .content {
    &_slider {
      padding-bottom: 80px;
      &-block {
        display: flex;
        align-items: flex-end;
        &__phone {
          display: none;
        }
        &__main {
          display: flex;
          flex-direction: column-reverse;
          margin-top: 45px;
          &--social {
            width: 90%;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-around;
          }
          &--logo {
            &--logo {
              margin-bottom: 20px;
              margin-left: 15px;
              margin-right: 15px;
              justify-content: start;
              margin-left: 75px;
              .logo-ball {
                margin-right: 55px;
                width: 100px;
                height: 100px;
              }
              .logo-text {
                width: 225px;
                height: 40px;
              }
            }
          }
          &--title {
            text-align: center;
            h1 {
              color: #fff;
              font-family: 'SFUIDisplay-Medium';
            }

          }
        }
        &__title {
          margin-bottom: 20px;
          display: block;
          width: 350px;
          margin: 20px auto 0px auto;
        }
      }
      &__images {
        img {
          width: 85%;
          height: 85%;
        }
      }
    }

  }
  @media screen and (max-width: 425px) and (-webkit-min-device-pixel-ratio: 2) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 26%, 0% 39%);
      background-position: 33% -55px;
      background-size: 170%;
    }

    .content {
      &_slider {
        margin-top: -490px;
        &-block{
          &__main{
            &--social{
              img{
                width: 100%;
                height: 100%;
              }
              a{
                &:first-child{
                  margin-right: 25px;
                }
              }
            }
          }
        }
      }
      &_description {
        padding-top: 20px;
        margin-bottom: 30px;
        background-image: none;
        &__social {
            a{
              img{
                width: 100%;
                height: 100%;
              }
              &:first-child{
                margin-right: 25px;
              }
            }
        }
      }
      &_gallery {
        &__images {
          justify-content: space-between;
          &--item {
            width: 46%;
            margin-right: 20px;
            &:nth-child(2n) {
              margin-right: 0;
            }
            img {
              height: 100%;
            }
          }
        }
        &__title{
          h3{
            display: inline;
    &_description{
      &__phone{
        display: none;
      }
    }
    &_gallery{
      .mobile-image{
        display: block;
      }
      &__images{
        &--png{
          display: none;
        }
      }
    }
    &_example{
      background-size: cover;
      background-position-x: 55% !important;
      padding-bottom: 0;
      &__title{
        margin-bottom: 18px;
      }
      &__images{
        &--item{
          width: 33%;
        }
      }
    }

  }

  // Footer
  .footer {
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100%;
    &-block{
      flex-direction: column-reverse;
      margin-top: 50px;
    }
    &__social {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      flex-direction: row;
      a{
        margin-right: 42px;
        &:last-child{
          margin-right: 0;
        }
      }
        img{
          height: 119px;
          height: 35px;
        }
    }
  }
}
@media screen and (max-width: 640px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
    clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
    background-position: 33% -70px;
    background-position-x: 33% !important;
    background-size: 170%;
  }

  .content {
    &_slider {
      &:lang(ru){
        margin-top: -470px
      }
      padding-bottom: 50px;
      &-block {
        &__main {
          &:lang(ru) {
            margin-top: 20px;
          }
          &--social {
            flex-direction: row;
            img {
              height: 119px;
              height: 35px;
            }
          }
          &--title {
            h1 {
              font-size: 28px;
              line-height: 32px;
            }
          }
          &--logo {
            margin-bottom: 20px;
            margin-left: 15px;
            margin-right: 15px;
            justify-content: start;
            margin-left: 75px;
            .logo-ball {
              margin-right: 55px;
              width: 100px;
              height: 100px;
            }
            .logo-text {
              width: 225px;
              height: 40px;
            }
          }
        }
      }
      &_gallery {
        margin-bottom: 0px;
        &__title {
          margin-bottom: 20px;
          h3 {
            font-size: 18px;
            line-height: 20px;
          }
        }
      }
      &_about {
        margin-bottom: 0;
        h3 {
          font-size: 18px;
        }
        ol {
          padding-top: 10px;
          margin-bottom: 20px;
          li {
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
      &_example {
        background-position-x: 57% !important;
        &__images {
          img {
            width: 90%;
            height: 90%;
        background-size: cover;
        background-position-x: 55% !important;
        &__title {
          padding-top: 10px;
          h3 {
            font-size: 18px;
            line-height: 20px;
          }
        }
        &__images {
          background-size: cover;
          background-position: 56%;
          img {
            width: 80px;
            height: 80px;
            margin: 0 5px 16px 0;
            &:nth-child(3) {
              margin-right: 0;
            }
            &:nth-child(6) {
              margin-right: 0;
            }
          }
        }
      }
      &_description {
        padding-top: 20px;
        margin-bottom: 30px;
        background-image: none;
        &__text {
          &--item {
            margin-bottom: 20px;
            h3 {
              font-size: 16px;
              margin-bottom: 10px;
            }
            p {
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 28%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 28%, 0% 39%);
      background-position: 33% -10px;
      background-size: 170%;
    }
    h3{
      font-size: 16px;
      line-height: 24px;
    }
    .content {
      &_slider {
        margin-top: -485px;
      }
    }

  }
  @media screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 26%, 0% 39%);
      &:lang(ru){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 41%);
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 41%);
      }
    }

    .content {
      &_slider {
        margin-top: -490px;
        &:lang(ru){
          margin-top: -480px;
        }
      }
    }
  }

  // background adaptive/ Мишура сверху и снизу
  @media screen and (min-width: 1700px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 79% 72%;
      }
      &_description {
        background-position-x: 73% !important;

      }
    }
  }
  @media screen and (min-width: 1900px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 78% 72%;
      }
      &_description {
        background-position-x: 71% !important;

  .footer {
    height: 155px;
    background-size: 155% 35%;
    background-position: -35px bottom;
    &__social {
      flex-direction: row;
      img {
        height: 119px;
        height: 35px;
      }
    }
    &-block {
      margin-top: 0px;
    }
    &__copy {
      margin-right: 0;
      span {
        font-size: 14px;
      }
    }
  }
}
  @media screen and (max-width: 600px) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
      background-position: 33% -70px;
      background-position-x: 33% !important;
      background-size: 170%;
    }

    .content {
      &_slider {
        padding-bottom: 50px;
        &-block {
          &__main {
            &:lang(ru) {
              margin-top: 20px;
            }
            &--social {
              flex-direction: row;
              img {
                height: 119px;
                height: 35px;
              }
            }
            &--title {
              h1 {
                font-size: 22px;
                line-height: 30px;
                &:lang(ru) {
                  font-size: 22px;
                  line-height: 26px;
                }
              }
            }
            &--logo {
              margin-bottom: 20px;
              margin-left: 15px;
              margin-right: 15px;
              padding-top: 20px;
              justify-content: space-around;
              .logo-ball {
                margin-right: 20px;
                width: 80px;
                height: 80px;
              }
              .logo-text {
                width: 175px;
                height: 25px;
              }
            }
          }
        }
      }
      &_gallery {
        margin-bottom: 0px;
        &__title {
          margin-bottom: 20px;
          h3 {
            font-size: 18px;
            line-height: 20px;
          }
        }
      }
      &_about {
        margin-bottom: 0;
        h3 {
          font-size: 18px;
        }
        ol {
          padding-top: 10px;
          margin-bottom: 20px;
          li {
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
      &_example {
        background-size: cover;
        background-position-x: 55% !important;
        &__title {
          padding-top: 10px;
          h3 {
            font-size: 18px;
            line-height: 20px;
          }
        }
        &__images {
          background-size: cover;
          background-position: 56%;
          img {
            width: 80px;
            height: 80px;
            margin: 0 5px 16px 0;
            &:nth-child(3) {
              margin-right: 0;
            }
            &:nth-child(6) {
              margin-right: 0;
            }
          }
        }
      }
      &_description {
        padding-top: 20px;
        margin-bottom: 30px;
        &__text {
          &--item {
            margin-bottom: 20px;
            h3 {
              font-size: 18px;
              margin-bottom: 10px;
            }
            p {
              font-size: 16px;
              line-height: 18px;
            }
          }
        }
        &__social {
          flex-direction: row;
          img {
            width: 119px;
            height: 35px;
          }
        }
      }
    }

    .footer {
      height: 155px;
      background-size: 160% 35%;
      background-position: -35px bottom;
      &-block {
        margin-top: 0px;
      }
      &__copy {
        margin-right: 0;
        flex-wrap: wrap;
        justify-content: center;
        p {
          font-size: 14px;
        }
      }
    }
  }
  @media screen and (max-width: 568px) {
    .content {
      &_slider {
        &-block {
          &__main {
            &--title {
              h1 {
                font-size: 22px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }

    .footer {
      height: 155px;
      background-size: 170% 35%;
      background-position: -35px bottom;
    }

  }
  @media screen and (max-width: 540px) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
      background-position: 33% -70px;
      background-size: 170%;
    }

    .content {
      &_slider {
        margin-top: -490px;
        padding-bottom: 50px;
        &-block {
          &__main {
            &:lang(ru) {
              margin-top: 20px;
            }
            &--social {
              flex-direction: row;
              img {
                width: 119px;
                height: 35px;
              }
            }
            &--title {
              h1 {
                font-size: 22px;
                line-height: 30px;

              }
            }
          }
        }
      }
      &_gallery {
        margin-bottom: 0px;
        &__title {
          margin-bottom: 20px;
          h3 {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
      &_about {
        margin-bottom: 0;
        h3 {
          font-size: 16px;
        }
        ol {
          padding-top: 10px;
          li {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      &_example {
        background-size: cover;
        background-position-x: 55% !important;
        &__title {
          padding-top: 10px;
          h3 {
            font-size: 12px;
            line-height: 14px;
          }
        }
        &__images {
          background-size: cover;
          background-position: 56%;
          img {
            width: 80px;
            height: 80px;
            margin: 0 5px 16px 0;
            &:nth-child(3) {
              margin-right: 0;
            }
            &:nth-child(6) {
              margin-right: 0;
            }
          }
        }
      }
      &_description {
        padding-top: 20px;
        margin-bottom: 30px;
        background-image: none;
        &__text {
          &--item {
            margin-bottom: 20px;
            h3 {
              font-size: 16px;
              margin-bottom: 10px;
            }
            p {
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
      }
    }

    .footer {
      &__copy {
        margin-right: 0;
        span {
          font-size: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 460px) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 27%, 0% 40%);
      background-position: 33% -70px;
      background-size: 170%;
    }

    .content {
      &_slider {
        margin-top: -490px;
        &-block {
          &__main {
            &--logo {
              margin-left: 0px;
              margin-right: 0px;
              padding-top: 10px;
            }
          }
        }
      }
      &_gallery {
        &__images {
          &--item {
            width: 47%;
            margin-right: 0;
            img {
              width: 100%;
            }
          }
        }
      }
    }

  }
  @media screen and (min-width: 2100px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 74% 72%;
      }
      &_description {
        background-position-x: 68% !important;

      }
    }
  }
  @media screen and (min-width: 2300px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 72% 72%;
      }
      &_description {
        background-position-x: 66% !important;

  @media screen and (max-width: 425px) and (-webkit-min-device-pixel-ratio: 2) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 26%, 0% 39%);
      background-position: 33% -55px;
      background-size: 170%;
    }

    .content {
      &_slider {
        margin-top: -490px;
      }
      &_gallery {
        &__images {
          justify-content: space-between;
          &--item {
            width: 46%;
            margin-right: 20px;
            &:nth-child(2n) {
              margin-right: 0;
            }
            img {
              height: 100%;
            }
          }
        }
      }
      &_example {
        background-position-x: 57% !important;
      }
    }
  }
  @media screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 28%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 28%, 0% 39%);
      background-position: 33% -10px;
      background-size: 170%;
    }

    .content {
      &_slider {
        margin-top: -485px;
      }
    }

  }
  @media screen and (min-width: 2500px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 71% 71%;
      }
      &_description {
        background-position-x: 65% !important;

      }
    }
  }
  @media screen and (min-width: 2700px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 69% 72%;
      }
      &_description {
        background-position-x: 64% !important;

      }
    }
  }
  @media screen and (min-width: 3000px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 68% 86%;
      }
      &_description {
        background-position-x: 62% !important;
  @media screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 39%);
      clip-path: polygon(0 0, 100% 0, 100% 26%, 0% 39%);
      &:lang(ru){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 41%);
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 41%);
      }
    }

    .content {
      &_slider {
        margin-top: -490px;
        &:lang(ru){
          margin-top: -480px;
        }
      }
    }
  }

  // background adaptive/ Мишура сверху и снизу
  @media screen and (min-width: 1700px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 79% 72%;
      }
      &_description {
        background-position-x: 73% !important;

      }
    }
  }
  @media screen and (min-width: 1900px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 78% 72%;
      }
      &_description {
        background-position-x: 71% !important;

      }
    }
  }
  @media screen and (min-width: 2100px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 74% 72%;
      }
      &_description {
        background-position-x: 68% !important;

      }
    }
  }
  @media screen and (min-width: 3200px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 68% 90%;
      }
      &_description {
        background-position-x: 61% !important;
  @media screen and (min-width: 2300px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 72% 72%;
      }
      &_description {
        background-position-x: 66% !important;

      }
    }
  }
  @media screen and (min-width: 2500px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 71% 71%;
      }
      &_description {
        background-position-x: 65% !important;

      }
    }
  }
  @media screen and (min-width: 3500px) {
    .content {
      &_slider {
        background-position-x: 61% !important;
        background-size: 68% 90%;
      }
      &_description {
        background-position-x: 60% !important;
  @media screen and (min-width: 2700px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 69% 72%;
      }
      &_description {
        background-position-x: 64% !important;

      }
    }
  }
  @media screen and (min-width: 3000px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 68% 86%;
      }
      &_description {
        background-position-x: 62% !important;

      }
    }
  }
  @media screen and (min-width: 3800px) {
  @media screen and (min-width: 3200px) {
    .content {
      &_slider {
        background-position-x: 60% !important;
        background-size: 68% 90%;
      }
      &_description {
        background-position-x: 61% !important;

      }
    }
  }
  @media screen and (min-width: 3500px) {
    .content {
      &_slider {
        background-position-x: 61% !important;
        background-size: 68% 90%;
      }
      &_description {
        background-position-x: 59% !important;
        background-position-x: 60% !important;

      }
    }
  }
  @media screen and (min-width: 3800px) {
    .content {
      &_slider {
        background-position-x: 61% !important;
        background-size: 68% 90%;
      }
      &_description {
        background-position-x: 59% !important;

      }
    }
  }
  @media screen and (min-width: 4000px) {
    .content {
      &_slider {
        background-position-x: 61% !important;
        background-size: 68% 90%;
      }
      &_description {
        background-position-x: 58% !important;

      }
    }
  }
//Play button for video in description section
.video_button{
  display: none;
}

